/*parallax effect */
.wrapper{

}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transform-style: preserve-3d;

    perspective: 10px;
}
.fg{
    position: absolute;
    top: 0;
    transform: translateZ(-5px);
}
.bg{
    position: absolute;
    top: 0;
    transform: translateZ(-10px) scale(2);
    
}
section{
    
}