.code{
    background-image: url(https://images.pexels.com/photos/4509131/pexels-photo-4509131.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    color: greenyellow;
}
.button{
    background-color: green;
    text-decoration: none;
    border-radius: 4px;
}
