.code{
    background-image: url(https://images.pexels.com/photos/4509131/pexels-photo-4509131.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    color: greenyellow;
}
.button{
    background-color: green;
    text-decoration: none;
    border-radius: 4px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.marketing .col-lg-4{
    margin-bottom: 1.5rem;
    text-align: center;
}
.circle{
    border-radius: 50%;
}
.container2{
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
}
input[type="text"], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: greenyellow;
}
input[type=submit] {
    background-color: greenyellow;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: green;
}
.map{
    border-radius: 10px;
    height: 700px;
    width: 700px;
}
li a{
    color: white;
}
li a:hover{
    color: grey;
}
.me{
    height: 700px;
}
